.feature__item {
    padding: 0 90px;
}
  
.feature-item_2 {
    border-left: 1px solid rgba(106, 57, 0, 0.3);
    border-right: 1px solid rgba(106, 57, 0, 0.3);
}
  
.feature__header {
    font-family: Poppins-SemiBold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 36px 0;
}
  
.feature__text {
    font-size: 20px;
    color: #404040;
}