.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #1b1b1b;
    border-top: 1px solid #ffcb77;
    border-bottom: 1px solid #ffcb77;
    border-left: 1px solid #ffcb77;
}

.icon_vk {
    border-right: 1px solid #ffcb77;
}

.icon_github {
    border-right: 1px solid #ffcb77;
}
